# Model Testing

## Import and Data Cleaning

In [1]:
import numpy as np
import pandas as pd
from imp import reload

/var/folders/b1/rrj56xwx47qcmjwx198bfqsc0000gn/T/ipykernel_7164/4055256059.py:3: DeprecationWarning: the imp module is deprecated in favour of importlib and slated for removal in Python 3.12; see the module's documentation for alternative uses
  from imp import reload

In [2]:
# Import amphibian data
amphibian_df = pd.read_csv("/Users/ljw/Projects/ModelsFromScratch/DataSources/Amphibians/dataset.csv", delimiter=";", skiprows=1)

In [3]:
# Convert frog flags to boolean
def convert_bool(s:pd.Series, true_flag=1):
    return(pd.Series(np.array([v==true_flag for v in s])))

frog_cols = ["Green frogs","Brown frogs","Common toad","Fire-bellied toad","Tree frog","Common newt","Great crested newt"]
for col in frog_cols:
    amphibian_df[col] = convert_bool(amphibian_df[col])

In [4]:
amphibian_df.groupby("Common toad")["ID"].nunique()

Common toad
False     65
True     124
Name: ID, dtype: int64

Common toad is quite a balanced target variable for the amphibians data

In [5]:
amphibian_df.head(2)

,ID,Motorway,SR,NR,TR,VR,SUR1,SUR2,SUR3,UR,...,BR,MR,CR,Green frogs,Brown frogs,Common toad,Fire-bellied toad,Tree frog,Common newt,Great crested newt
0,1,A1,600,1,1,4,6,2,10,0,...,0,0,1,False,False,False,False,False,False,False
1,2,A1,700,1,5,1,10,6,10,3,...,1,0,1,False,True,True,False,False,True,False

### Filter features and target variables into the typical X,y format

In [6]:
[c for c in amphibian_df.columns if c not in ["SR","NR","TR","VR","SUR1","SUR2","SUR3","UR","FR","OR","RR","BR","MR","CR"]]

['ID',
 'Motorway',
 'Green frogs',
 'Brown frogs',
 'Common toad',
 'Fire-bellied toad',
 'Tree frog',
 'Common newt',
 'Great crested newt']

In [7]:
X = amphibian_df.loc[:, ["SR","NR","TR","VR","SUR1","SUR2","SUR3","UR","FR","OR","RR","BR","MR","CR"]]
y = amphibian_df.loc[:,"Common toad"]

## Build a Decision Tree

In [8]:
from DecisionTree.DecisionTree import DecisionTreeModel

{'cost_functions': {'mean_squared_error': <function mean_squared_error at 0x1128cbba0>}, 'split_functions': {'best_split_numerical': <function best_split_numerical at 0x1128cbc40>}}

In [9]:
dt = DecisionTreeModel()

In [11]:
# dt.build_tree(X,y)