# Model Testing

## Import and Data Cleaning

In [3]:
import numpy as np
import pandas as pd

In [8]:
# Import amphibian data
amphibian_df = pd.read_csv("/Users/ljw/Projects/ModelsFromScratch/DataSources/Amphibians/dataset.csv", delimiter=";", skiprows=1)
amphibian_df.head()

,ID,Motorway,SR,NR,TR,VR,SUR1,SUR2,SUR3,UR,...,BR,MR,CR,Green frogs,Brown frogs,Common toad,Fire-bellied toad,Tree frog,Common newt,Great crested newt
0,1,A1,600,1,1,4,6,2,10,0,...,0,0,1,0,0,0,0,0,0,0
1,2,A1,700,1,5,1,10,6,10,3,...,1,0,1,0,1,1,0,0,1,0
2,3,A1,200,1,5,1,10,6,10,3,...,1,0,1,0,1,1,0,0,1,0
3,4,A1,300,1,5,0,6,10,2,3,...,0,0,1,0,0,1,0,0,0,0
4,5,A1,600,2,1,4,10,2,6,0,...,5,0,1,0,1,1,1,0,1,1

In [ ]:
# Convert frog flags to boolean

In [9]:
amphibian_df["amph_present"] = \
    amphibian_df["Green frogs"] | \
    amphibian_df["Brown frogs"] | \
    amphibian_df["Common toad"] | \
    amphibian_df["Fire-bellied toad"] | \
    amphibian_df["Tree frog"] | \
    amphibian_df["Common newt"] | \
    amphibian_df["Great crested newt"]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().